<div style="margin: 0px; "> 
    <div style="border: 1px solid #e8e8e9;  background-color: #f6f6f6; border-radius: 2%; padding: 0; margin: 30px;" >
        
        <div class="row col-md-12" style="margin: 0px; padding: 0;">
            <img style="border-radius: 10%; margin: 0; padding: 10px; max-width: 250px; max-height: 200px;"  src="assets/img/casaLaFlora.PNG">
            <div style="padding: 10px;">
                <p style="margin: 0; color: #0275d8; font-size: 12px;">Ferienwohnung</p>
                <p style="margin: 0; font-weight: bold;">{{datas[id].quadratMeter}}<sup>2</sup>, {{datas[id].etage}}</p>
                <p style="margin: 0; font-size: 12px;">{{datas[id].text}}</p>
                <p style="margin: 0; font-size: 12px;"> <i class="material-icons">place</i>{{datas[id].adresse}}</p> 
                <div>
                    <span >CHF</span> <span style="font-size: 30px;">{{datas[id].preis}}</span> 
                </div>   
                <br>

                <p>Es gibt eine grosse anzahl an Freizeitaktivitäten:  <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/panoramarestaurant-caischavedra">Aktivitäten</a></p>
               
            <div >
                
            
        </div>

        
        <div class="row col-md-12" style="margin: 10px;">
            <div style="display: flex; flex-direction: column; margin: 10px;">
                
                <p>Besuchen Sie das Erlebnis und Wellnessbad.</p>
                <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/bogn-sedrun-erlebnisbad-und-wellness">More...</a>
                <img style="border-radius: 10%; padding: 10px; max-width: 250px;"  src="assets/img/hallenbad.jpg">   
            </div>
            <div style="display: flex; flex-direction: column; margin: 10px;">
                
                <p>Geniessen Sie die Aussicht.</p>
                <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/bogn-sedrun-erlebnisbad-und-wellness">More...</a>
                <img style="border-radius: 10%; padding: 10px; max-width: 250px;"  src="assets/img/aussicht.jpg">   
            </div>
            
        </div>
        

        <div class="row col-md-12" style="margin: 10px;">
            <app-agm></app-agm> 
        </div>

        <img src="https://share.swisscom.ch/a4b8a57f-b9f8-4571-a681-1a294a471d57?s=13486&t=image/jpeg&e=2021-06-05T15:06:01%2B02:00">
        
    

    </div>  
</div>

