<div style="margin: 0px; "> 
    <div style="border: 1px solid #e8e8e9;  background-color: #f6f6f6; border-radius: 2%; padding: 0; margin: 30px;" >
        
        <div class="row col-md-12" style="margin: 0px; padding: 0;">
            <img style="border-radius: 10%; margin: 0; padding: 10px; max-width: 250px; max-height: 200px;"  src="assets/img/casaLaFlora.PNG">
            <div style="padding: 10px;">
                <p style="margin: 0; color: #0275d8; font-size: 12px;">Ferienwohnung</p>
                <p style="margin: 0; font-weight: bold;">{{datas[id].quadratMeter}}<sup>2</sup>, {{datas[id].etage}}</p>
                <p style="margin: 0; font-size: 12px;">{{datas[id].text}}</p>
                <p style="margin: 0; font-size: 12px;"> <i class="material-icons">place</i>{{datas[id].adresse}}</p>       
                <span >CHF</span> <span style="font-size: 30px;">{{datas[id].preis}}</span>     
                <br>
                <p style="font-size: 12px;">Kurtaxen sind im Mietpreis inbegriffen. Die Küchen-, Bad- und Bettwäsche muss selber mitgebracht werden. Nichtraucher-Wohnung, Haustiere nicht erlaubt.</p>
                <p style="font-size: 12px;">Es gibt eine grosse anzahl an Freizeitaktivitäten:  <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/panoramarestaurant-caischavedra">Aktivitäten</a></p>     
            </div>      
        </div>

        <div class="row col-md-12;" style="display: flex; justify-content: center;">
            <div class="col-md-4"><img style="padding: 10px;" class="d-block w-100" src="https://share.swisscom.ch/03c0eb17-81c6-438c-9ff5-f12c19c60b80?s=13374&t=image/jpeg&e=2021-06-05T15:06:01%2B02:00" alt="First slide"></div>
            <div class="col-md-4"><img style="padding: 10px;" class="d-block w-100" src="https://share.swisscom.ch/29db8e56-2067-4974-ae62-42fdd6408364?s=14035&t=image/jpeg&e=2021-06-05T15:06:00%2B02:00" alt="Second slide"></div>
            <div class="col-md-4"><img style="padding: 10px;" class="d.d-block w-100" src="https://share.swisscom.ch/3cc117ce-39e9-4792-aa1d-b3574343b556?s=13684&t=image/jpeg&e=2021-06-05T15:06:01%2B02:00" alt="Third slide"></div>
        </div>

       

        
        <div class="row col-md-12" style="margin: 10px; display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; margin: 10px;">
                
                <p>Besuchen Sie das Erlebnis und Wellnessbad.</p>
                <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/bogn-sedrun-erlebnisbad-und-wellness">More...</a>
                <img style="border-radius: 10%; padding: 10px; max-width: 250px;"  src="assets/img/hallenbad.jpg">   
            </div>
            <div style="display: flex; flex-direction: column; margin: 10px;">
                
                <p>Geniessen Sie die Aussicht.</p>
                <a href="https://www.graubuenden.ch/de/regionen-entdecken/disentis-sedrun/bogn-sedrun-erlebnisbad-und-wellness">More...</a>
                <img style="border-radius: 10%; padding: 10px; max-width: 250px;"  src="assets/img/aussicht.jpg">   
            </div>
            
        </div>
        

        <div class="row col-md-12" style="margin: 0px; padding: 20px; display: flex; justify-content: center;">
            <app-agm></app-agm> 
        </div>
        <div style="display: flex; justify-content: center;">
            <table>
                <tr style="display: inline;" *ngFor="let data of kalender; let i = index">
                <div *ngIf="(i+1)%7==1;"></div>
                    <td *ngIf="kalenderWhite[i] == true; else elseBlock" style="width: 50px; text-align: center; background-color: white; border-style: solid;">{{data}}</td> 
                    <ng-template #elseBlock ><td style="width: 50px; text-align: center; background-color: grey; border-style: solid;">{{data}}</td></ng-template>
                </tr>
            </table>
        </div>
  
    </div>  
</div>

