
<!--<mat-toolbar color="primary" class="navbar">
  <div>Vermietung</div>
  <div>
    <span><a routerLink="/home" routerLinkActive="active">Home</a></span>
    <span><a routerLink="/flat" routerLinkActive="active">Flat</a></span>
    <span><a routerLink="/rental" routerLinkActive="active">Rental</a></span>
    <span><a routerLink="/contact" routerLinkActive="active">Contact</a></span>
  </div>
</mat-toolbar>-->
 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Vermietung</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="display: flex; align-items: center;">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"><!--<i class="material-icons">home</i>-->Home</a>
      <a class="nav-item nav-link" routerLink="/flat" routerLinkActive="active">Flat</a>
      <a class="nav-item nav-link" routerLink="/rental" routerLinkActive="active">Rental</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
</div>
</nav>





