<div style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
<h1 style="padding: 20px;">Herzlich Willkommen</h1>

<p>Sie wollen Ferien in den Bergen verbringen. Dann sind Sie auf unsere Webseite richtig.</p>
<p>Über unsere Webseite können Sie unsere Ferienwohnungen ansehen und direkt buchen.</p>
<p>Wir helfen Ihnen gerne ihre Ferien erholsam zu verbringen.</p>
<p>Egal ob Winter oder Sommer. In den Berggebieten können Sie die unteschiedlichsten Aktivitäten durchführen.</p>


<div class="row">
    <div style="padding: 20px;" class="col-sm"><img height="200px" src="assets/img/skiFahren.jpg"></div>
    <div style="padding: 20px;" class="col-sm"><img height="200px" src="assets/img/mountainBike.jpg"></div>
</div>